div.j_main{
	margin: 2% 25%;
	width: 50%
}

/*선택*/
#j_kind{
	float: left;
}
#j_kind li {
	display : inline-block;	 /*1 새 줄로 넘어가지 않게 */
	list-style-type : none; 	/* 마커 삭제 */
	padding-right: 4px;
}
a.j_other {
	text-decoration : none; /* 링크 보이지 않게 */
}
img.j_gfm{
	width: 13px;
	height: 16px;
	padding-right: 130px;
}
a.j_week{
	color: #E94848;
	text-decoration: none;
}
li.j_kind{
	color: #BDBDBD;
}
/*요일 버튼*/
p.j_W{
	display: table-cell;
	vertical-align: middle;
	background: #BDBDBD;
	width: 42px;
	height: 42px;
	font-size: 18px;
	border-radius: 50px;
	text-align: center;
}
p.j_b{
	display: table-cell;
	background: white;
	width: 20px;
	height: 20px;
}
a.j_W{
	color: white;
	text-decoration: none;
}
div.j_weekch{
	float: center;
	margin-top: 3%
}


/*웹툰 종류*/
a.j_toon{
	color: black;
	text-decoration: none;
	font-size: 14px;
}
a.j_toon:hover{
	text-decoration: underline;
}
img.j_webtoon{
	width: 150px;
	height: 100px;
	padding: 0px 9px 3px 0px;
}
img.s_adult{
	width: 30px; height: 15px; padding: 0px;
}

/*광고*/
#j_ad_bg{
	cursor: pointer;
}
p.j_ad_but: hover{
	color: #E94848;
	text-decoration: none;
}
p.j_ad_but{
	background-image: url(toon/gf01.png);
	background-size: 310px 330px;
	width: 310px;
	height: 300px;
	background-repeat: no-repeat;
	padding-left: 240px;
	padding-top: 15px;
}
a.j_next{
	color: #BDBDBD;
	text-decoration: none;
}
a.j_back{
	color: #BDBDBD;
	text-decoration: none;
}
a.j_next:hover{
	color: #E94848;
	text-decoration: none;
}

a.j_back:hover{
	color: #E94848;
	text-decoration: none;
}


/*작가*/
#writer{
	padding: 0px 6px 15px 0px;
	font-size: 12px;
}

/*고양이 광고*/
img.j_adcat{
	width: 980px;
	height: 180px;
}

/*가장 밑 광고*/
img.ad_fin_down{
	width: 100%;
	height: 230px;
}
div.ad_fin{
	background-color: #262424;
	position: absolute;
	width: 100%;
}
div.j_ad_menubox{
	margin-left: 33%;
}
p.j_ad_menu{
	display: inline-block;
	color: #A4A4A4;
	border: 2px solid #A4A4A4;
	margin: 50px 10px 20px 10px;
	text-align: center;
	padding: 10px 0px;
	width: 180px;
}
p.j_ad_menu:hover{
	color: #E94848;
	border-color: #E94848;
}
div.j_bottom_menu{
	margin-left: 31%;
}
a.j_menu_bot{
	color: #A4A4A4;
	text-decoration: none;
	font-size: 12px;
}
a.j_menu_bot:hover{
	text-decoration: underline;
}
li.j_menu{
	color: #6E6E6E;
	font-size: 10px;
}
ul.j_bottom_menu, li{
	display : inline-block;	 /*1 새 줄로 넘어가지 않게 */
	list-style-type : none; 	/* 마커 삭제 */
	padding-right: 17px;
}

/*카피*/
p.copyright{
	color: #A4A4A4;
	margin-left: 43%;
	font-size: 12px;
	padding-bottom: 60px;
}
a.jssk{
	text-decoration: none;
	color: #A4A4A4;
}
strong:hover{
	text-decoration: underline;
}